#!/usr/bin/env bash

set -euo pipefail

if [[ -f ".env" ]]; then
  dotenv .env
  echo "Loaded .env"
elif [[ -f ".env.sample" ]]; then
  dotenv .env.sample
  echo "Loaded .env.sample"
else
  echo "No .env or .env.sample file found"
fi
